    <footer class="footer">
      <div class="row">
        <div class="col-sm-5">
          <div class="row address-right">
          <div class="col-xs-3">
             <h4 class="right">Address</h4>
          </div>
          <div class="col-xs-9">
            <p>
              744 Dante St
              <br>
              New Orleans, LA 70118
            </p>
          </div>
          <div class="col-xs-3">
            <h4 class="right">Phone</h4>
          </div>
          <div class="col-xs-9">
            <p class="details">
              (504) 237-3813
            </p>
          </div>
          <div class="col-xs-3">
            <h4 class="right">Email</h4>
          </div>
          <div class="col-xs-9">
            <p class="details">christianlcsw@yahoo.com</p>
          </div>
        </div>
        </div>
        <div class="col-sm-7">
          <div class="pic">
            <img src="assets/images/christianharris.jpg" class="img-responsive pull-right">
            <p> Christian Harris is a Licensed Clinical Social Worker in private practice in New Orleans, La. Educated at Louisiana State University and Tulane University, he is seasoned and skilled in the practices of psychotherapy and counseling. Christian began his therapeutic career as an under graduate student as a crisis intervention counselor, administering aid to fellow college students experiencing suicidal thoughts and urges. For the last 20 years he has broadened his expertise by working in several professional settings and providing guidance and healing to individuals and families suffering from a wide variety of difficulties and conditions. </p>
          </div>
        </div>
      </div>
    </footer>