
<div class="row">
  <div class="col-xs-12">
    <div class="banner-image">
       <img src="img/bamboo.jpg" class="img-responsive">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4>PHILOSOPHY</h4>
      <p>
        Christian approaches his patients' difficulties with compassion and acceptance to develop a therapeutic relationship free from shame, guilt, and judgement.
        <br><br>
        Treatment goals are developed collaboratively to address the patients unique needs, based on therapeutic best practices.
        <br><br>
        Christian provides support, guidance, and education to assist patients in achieving and maintaining their life goals.
      </p>
    </div>
  </div>
</div>
