  <div class="row">
      <div class="col-xs-12">
        <div class="banner-image">
          <img src="img/bridge.jpg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>LOREM IPSUM</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at enim venenatis mauris fringilla vulputate. Aenean urna ligula, ultricies eget nisl ac, interdum malesuada odio. Suspendisse euismod fermentum ultricies. Nam at vehicula sem.</p>
      </div>
      <div class="col-sm-4">
        <h4>LOREM IPSUM</h4>
        <p>Morbi in feugiat urna. Aliquam quis accumsan magna. Nulla ultrices metus ac nulla sollicitudin, sed condimentum lorem sodales. Phasellus id massa leo. Nam ultricies turpis porta pellentesque ornare. Donec pulvinar diam eget faucibus tincidunt.</p>
      </div>
      <div class="col-sm-4">
        <h4>LOREM IPSUM</h4>
        <p> Aliquam tincidunt ligula ut imperdiet fermentum. Quisque eget diam eu ante ornare tempor. Nunc nec feugiat eros.</p>
      </div>
    </div>
</div>
