<div class="row">
  <div class="col-xs-12">
    <div class="banner-image">
      <img src="img/mountains.jpg" class="img-responsive">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra sollicitudin libero a porttitor. Curabitur in sapien ut eros consectetur aliquet sed eu est. Morbi ultrices metus leo, a efficitur ante feugiat sed. Duis iaculis hendrerit lectus nec imperdiet. Etiam non neque pellentesque, porttitor mauris ac, ultricies urna. Vestibulum interdum in nibh vitae ultrices. Mauris ornare libero quis leo suscipit, faucibus commodo dolor condimentum. In ornare elit ac eleifend aliquam. Curabitur id neque luctus, ultrices quam ac, fringilla ex.</p>
  </div>

</div>